# Copyright (c) 2018 Aubrey Barnard.  This is free, open-source software
# released under the MIT license.  See `LICENSE.txt` for details.

# Ignore file backups
*~

# Ignore compiled Python
__pycache__
*.pyc
*.pyo
